node_modules
vbwd-fe-core
dist
.env
.env.local
*.log
.DS_Store
.idea
.vscode
coverage
.nyc_output
.git
playwright-report
test-results
var/*
!var/plugins
# Plugin dirs are hosted in individual repos (vbwd-fe-user-plugin-*)
plugins/crypto/
plugins/booking/
plugins/c2p2-payment/
plugins/chat/
plugins/checkout/
plugins/cms/
plugins/conekta-payment/
plugins/ecommerce/
plugins/ghrm/
plugins/landing1/
plugins/license/
plugins/meinchat/
plugins/mercado-pago-payment/
plugins/paypal-payment/
plugins/promptpay-payment/
plugins/stripe-payment/
plugins/subscription/
plugins/tarot/
plugins/theme-switcher/
plugins/token-payment/
plugins/toss-payments-payment/
plugins/truemoney-payment/
plugins/yookassa-payment/
plugins/meinchat-plus/
plugins/shop/
plugins/cms-youtube/
plugins/withdraw/
plugins/marketplace/
plugins/dataset/
plugins/bdv/
plugins/office/
